################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aura
/Binaries/Win64
/.vsconfig
/Intermediate/Build
